In [1]:
# Getting data from World Bank  API

import pandas as pd
import matplotlib.pyplot as plt
import wbgapi as wb

In [4]:
wb.series.info(q = 'business')

id                    value
--------------------  -------------------------------------------------------------------------------
IC.BUS.DFRN.XQ        Ease of doing business score (0 = lowest performance to 100 = best performance)
IC.BUS.DISC.XQ        Business extent of disclosure index (0=less disclosure to 10=more disclosure)
IC.BUS.EASE.XQ        Ease of doing business rank (1=most business-friendly regulations)
IC.BUS.NDNS.ZS        New business density (new registrations per 1,000 people ages 15-64)
IC.BUS.NREG           New businesses registered (number)
IC.REG.COST.PC.FE.ZS  Cost of business start-up procedures, female (% of GNI per capita)
IC.REG.COST.PC.MA.ZS  Cost of business start-up procedures, male (% of GNI per capita)
IC.REG.COST.PC.ZS     Cost of business start-up procedures (% of GNI per capita)
IC.REG.DURS           Time required to start a business (days)
IC.REG.DURS.FE        Time required to start a business, female (days)
IC.REG.DURS.MA        Time required to start a business, male (days)
IC.REG.PROC           Start-up procedures to register a business (number)
IC.REG.PROC.FE        Start-up procedures to register a business, female (number)
IC.REG.PROC.MA        Start-up procedures to register a business, male (number)
IC.TAX.OTHR.CP.ZS     Other taxes payable by businesses (% of commercial profits)
IQ.CPA.BREG.XQ        CPIA business regulatory environment rating (1=low to 6=high)
SG.LAW.INDX           Women Business and the Law Index Score (scale 1-100)
                      17 elements

In [40]:
# 1 business density
New_Business_Den = wb.data.DataFrame('IC.BUS.NDNS.ZS', wb.region.members('EMU'), time = range(2015,2019))
New_Business_Den

            YR2015     YR2016     YR2017     YR2018
economy
AUT       0.521227   0.514659   0.518215   0.508253
BEL       2.822047   3.101185   3.133030   3.710755
CYP      13.813949  16.657063  16.622367  17.576275
DEU       1.295507   1.313211   1.332757   1.353476
ESP       2.972996   3.205437   3.004788   3.031243
EST      17.536601  19.432936  21.737979  23.573647
FIN       3.636354   3.931486   4.024428   4.289443
FRA       4.117405   4.530480   4.752940   4.832756
GRC       0.678741   0.827089   1.116587   1.438160
IRL       6.252114   6.703097   7.067761   7.051883
ITA       2.558968   2.625653   2.857572   2.961075
LTU       3.190673   3.335768   3.525297   3.313396
LUX      16.747226  15.296843  15.936178  17.190043
LVA       9.706530   8.090205   7.445162   8.002388
MLT      18.020738  16.946911  17.111481  17.445182
NLD            NaN   2.844145   2.878459   2.967678
PRT       5.055997   5.016867   5.631110   6.490981
SVK       3.245650   4.740914   5.235045   5.253630
SVN       3.943555   3.075720   3.304633   3.037473

In [43]:
# 2 cost of startup
Cost = wb.data.DataFrame('IC.REG.COST.PC.ZS', wb.region.members('EMU'), time = range(2015,2019))
Cost

         YR2015  YR2016  YR2017  YR2018
economy
AUT         5.3     5.2     5.1     4.8
BEL         5.0     5.0     5.6     5.4
CYP        12.5    12.2    12.4    11.9
DEU         6.9     6.7     6.8     6.5
ESP         4.4     4.3     4.1     4.0
EST         1.3     1.2     1.2     1.1
FIN         0.9     0.9     0.8     0.8
FRA         0.8     0.7     0.7     0.7
GRC         2.3     2.3     1.6     1.6
IRL         0.2     0.2     0.2     0.1
ITA        14.4    14.3    14.1    14.1
LTU         0.6     0.6     0.6     0.5
LUX         2.0     1.7     1.7     1.7
LVA         1.8     1.7     1.7     1.7
MLT        14.1    12.3     7.4     7.1
NLD         4.6     4.5     4.4     4.2
PRT         2.2     2.1     2.1     2.0
SVK         1.5     1.1     1.1     1.0
SVN         0.0     0.0     0.0     0.0

In [38]:
# 3 Time required
time_required = wb.data.DataFrame('IC.REG.DURS', wb.region.members('EMU'), time = range(2015,2019))
time_required

         YR2015  YR2016  YR2017  YR2018
economy
AUT        22.0    21.0    21.0    21.0
BEL         4.5     4.5     4.5     4.5
CYP         8.0     6.0     6.0     6.0
DEU        10.5     8.0     8.0     8.0
ESP        14.0    13.0    13.0    12.5
EST         3.5     3.5     3.5     3.5
FIN        17.0    17.0    17.0    17.0
FRA         4.0     3.5     3.5     3.5
GRC        13.0    13.0    12.5    12.5
IRL        12.0    11.0    11.0    11.0
ITA        11.0    11.0    11.0    11.0
LTU         5.5     5.5     5.5     5.5
LUX        16.5    16.5    16.5    16.5
LVA         5.5     5.5     5.5     5.5
MLT        28.0    26.0    16.0    16.0
NLD         3.5     3.5     3.5     3.5
PRT         6.0     6.0     6.5     6.5
SVK        26.5    26.5    26.5    26.5
SVN         6.0     6.0     6.0     8.0

In [57]:
# export Table New_Business_Den
New_Business_Den.to_csv(r'/Users/tinghaokao/Desktop/Project_2_DataBase/New_Business_Den.csv', index = False)

In [58]:
# export Table Cost
Cost.to_csv(r'/Users/tinghaokao/Desktop/Project_2_DataBase/Cost.csv', index = False)

In [59]:
# export Table time_required
time_required.to_csv(r'/Users/tinghaokao/Desktop/Project_2_DataBase/time_required.csv', index = False)